<!DOCTYPE HTML>
<!--
@author: Anant Bhardwaj
@date: Feb 12, 2012

Home Page (My papers)
-->


<html manifest="/static/cache.manifest">

<!--
<html>
-->
<head>
	<title>myCHI</title>
	<meta charset="utf-8">
    
	<meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="initial-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="stylesheet" type="text/css" href="/static/css/desktop.css" />
	<link href="/static/css/third-party/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
	<script type="text/javascript" src="/static/javascript/third-party/jquery-ui.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div id="header">
	<div id="wrap">
		<span id="headlink-left">
			<a id="logo" href="/"></a>
		</span>
		<span id="headlink-right">
			<span id="logged_in_name"></span> &nbsp;
      <a class="button mobile-nav" href="#">Menu</a>
			<a class="button active navitem" href="/home">My Papers</a>
			<a class="button navitem" href="/schedule">My Schedule</a>
			<a class="button navitem" href="/logout">Log Out</a>
		</span>
	</div>
</div>


<body>
<div id="page">
<div id="content">

<div class="blurb">
Tag papers you want to see and get social recommendations of other papers you may like. The recommendations update automatically as you tag new papers. Just click "Show More" to see more! 
</div>
<div class="goto-link">
<a class="button" href="/schedule">Go to My Schedule</a>
</div>	
<!--- Home Page -->
<div id="home">
  <h3 class="collapsible-title collapsible" id="likes_toggle" data="likes_container"><span class="arrow arrow-down"></span>Papers you want to see <span class="count"></span> <a class="button" href="/bib" id="export_bibtex" target="_blank" style="font-size: small !important; margin-left:3em;">Export BibTeX</a></h3>	
	<div id="likes_container">
		<table id="likes" class="paper-container">		
		</table>
        <br />
        <a class="button" id="show_likes">Show All</a> 
	</div>
<br />
<br />

<h3 class="collapsible-title collapsible" id="recs_toggle" data="recs_container"><span class="arrow arrow-down"></span><span>Papers recommended for you</span> <span class="button" id="refresh_recommendations">Refresh</span></h3>
	<div id="recs_container">
		<table id="recs" class="paper-container">	
		</table>
        <br />
        <a class="button" id="show_recs" style="margin-right:10px;">Show More</a>
	</div>

<br />
<br />

	<h3 class="collapsible-title collapsible" id="papers_toggle" data="all_papers_container"><span class="arrow arrow-down"></span>All Papers <span class="count"></span></h3>
	<div id="all_papers_container">
    <div class="search-container">
      <label id="search_label">Search:</label>
      <input type="text" id="search_papers" title="Enter paper titles, authors, or keywords"></input>&nbsp;&nbsp;
      <span class="button" id="search_papers_btn">Search</span>
    </div>
		<table id="all_papers" class="paper-container">	
		</table>
        <br />
        <a class="button" id="show_papers" style="margin-right:10px;">Show More</a>
	</div>
</div>

    <div class="credit">
      Problems or comments? <a href="mailto:mychi@csail.mit.edu">mychi@csail.mit.edu</a><br/>
      Brought to you by <a href="http://people.csail.mit.edu/anantb/" target="_blank">Anant</a>, <a href="http://juhokim.com/" target="_blank">Juho</a>, <a href="http://eecs.northwestern.edu/~hq" target="_blank">Haoqi</a>, <a href="http://people.csail.mit.edu/karger/" target="_blank">David</a>, and <a href="http://projectcobi.com/" target="_blank">the Cobi team</a>
    </div>

</div> <!-- content -->
</div> <!-- page -->


<!---  Mod  -->
<div class="modal">
    <div class="message">loading...</div>
</div>
<div class="alert">
    <div class="message"></div>
</div>
<!--
<div id="back-top">
  <a href="#" class="button">Back to top</a>
</div>
-->

<!-- Javascript -->
<script type="text/javascript">
    $(document).ready(function(){
        $("#logged_in_name").html(localStorage.getItem('login_name'))
      	populate_likes()
      	populate_recs()
      	populate_papers()
      	bind_events()
        log('home')
    });

</script>
<script type="text/javascript" src="/static/javascript/desktop.js"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40387037-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
