<!DOCTYPE HTML>

<!--
@author: Anant Bhardwaj
@date: Feb 12, 2012

Selected People Page
-->

<html manifest="/static/cache.manifest">
<!--
<html>
-->
<head>
	<title>myCHI</title>
	<meta charset="utf-8">
    
	<meta name="HandheldFriendly" content="true user-scalable=no" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" type="text/css" href="/static/css/desktop.css" />
	<link href="/static/css/third-party/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
	<script type="text/javascript" src="/static/javascript/third-party/jquery-ui.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div id="header">
	<div id="wrap">
		<span id="headlink-left">
			<a id="logo" href="/"></a>
		</span>
		<span id="headlink-right">
		<span id="logged_in_name"></span> &nbsp;
      <a class="button mobile-nav" href="#">Menu</a>
			<a class="button active navitem" href="/home">My Papers</a>
			<a class="button navitem" href="/schedule">My Schedule</a>
			<a class="button navitem" href="/logout">Log Out</a>
		</span>
	</div>
</div>

<body>
<div id="page">
<div id="content">
  
<div class="goto-link">
<a class="button" href="/home">Go to My Papers</a>
<a class="button" href="/schedule">Go to My Schedule</a>
</div>	

<!-- Similar Paper -->
<div id="simiar_people_page">
  <!--<h3><span class="gray">Similar People</span></h3>-->
	<h3 class="collapsible-title collapsible" id="similar_people_toggle" data="similar_people_container" value=""><span class="arrow arrow-down"></span> People who have similar interests as you:</h3>
	<div id="similar_people_container">
	<table id="similar_people" class="paper-container">		
	</table>
	</div>

</div>  <!-- selected paper -->


    <div class="credit">
      Problems or comments? <a href="mailto:mychi@csail.mit.edu">mychi@csail.mit.edu</a><br/>
      Brought to you by <a href="http://people.csail.mit.edu/anantb/" target="_blank">Anant</a>, <a href="http://juhokim.com/" target="_blank">Juho</a>, <a href="http://eecs.northwestern.edu/~hq" target="_blank">Haoqi</a>, and <a href="http://chischedule.org/2013/interactivity.html#ESX" target="_blank">the Cobi team</a>
    </div>
</div> <!-- content -->
</div> <!-- page -->


<!-- Modal Dialogs -->
<div class="modal">
    <div class="message">loading...</div>
</div>
<div class="alert">
    <div class="message"></div>
</div>
<!--
<div id="back-top">
  <a href="#" class="button">Back to top</a>
</div>
-->

<script type="text/javascript">
$(document).ready(function(){
	$("#logged_in_name").html(localStorage.getItem('login_name'))
    load_similar_people()
    bind_events()
    log('similar_people')
        
});
</script>
<script type="text/javascript" src="/static/javascript/desktop.js"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40387037-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
