<!DOCTYPE html> 
<html> 
<head> 
	<title>CHI 2013 Recommendation System</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/mobile.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>

<script type="text/javascript">
    var entities = {{entities|safe }};
    var sessions = {{sessions|safe }};
    var recommended = {{recs|safe }};
    var starred = {{starred|safe }};
    var login_id = '{{login_id|safe}}'

    Object.size = function(obj) {
    var size = 0, key;
        for (key in obj) {
            if (obj.hasOwnProperty(key)) size++;
        }
        return size;
    };

    function get_paper_html(id){
        if(entities[id] == null)
            return null
        
        var raw_html = '<li class="' + id + '"><h3 class="blue"><a href="#" onclick = "load_paper(\''+ id + '\');">'+entities[id].title+'</a></h3>'
        raw_html += '<p>'+entities[id].c_and_b + '</p>'
        raw_html += '<p><strong>'
        for(author in entities[id].authors){
            if(entities[id].authors[author] != null){
                raw_html += entities[id].authors[author].givenName + ' ' + entities[id].authors[author].familyName + '&nbsp;&nbsp;&nbsp;&nbsp;'
            }
        }
        raw_html += '</strong></p>'
        raw_html += '<p class="gray">' + entities[id].keywords + '</p>'
        raw_html += '<div data-role="controlgroup" data-type="horizontal" data-mini="true">'
        raw_html += '<input type="button" onclick = "load_paper(\''+ id + '\');" value="Discover">'
        if(starred[id] == null){
            raw_html += '<input type="button" class="p_star" p_id="'+id+'" onclick="handle_star(event);" value="Star">'
        }else{
            raw_html += '<input type="button" class="p_star p_active" p_id="'+id+'" onclick="handle_star(event);" value="Unstar">'
        }
        raw_html += '</div>'       
        raw_html += '</li>' 
        return raw_html
    }


    function get_session_html(id){
        var raw_html = '<li class="all '+ sessions[id].date + ' t' + sessions[id].time.substr(0,2) + ' ' + sessions[id].venue + ' ' + sessions[id].personas.substr(0,2) + '" id="' + id + '">'
        raw_html += '<a href="#" onclick= "load_session(\''+ id + '\');">'
        raw_html += '<h4>'+sessions[id].s_title+'</h4>'
        raw_html += '<p><strong>Room: ' + sessions[id].room + ', Venue: ' + sessions[id].venue + '</strong></p>'
            raw_html += '<div class="timeline">'
        var size = Object.size(sessions[id].submissions)
        var w = (100 - (4*size))/size
        for(var i=0; i< size; i++){
            raw_html += '<div style="width:' + w + '%;margin-right:4px;"></div>'
        }
        raw_html += '</div>'
        raw_html += '</a></li>'     
        return raw_html
    }


    function place_session(s){
        if(s.hasClass('Monday')){
            if(s.hasClass('t09')){
                $("#Mondayt09").append(s)
            }else if(s.hasClass('t11')){
                $("#Mondayt11").append(s)
            }else if(s.hasClass('t14')){
                $("#Mondayt14").append(s)
            }else if(s.hasClass('t16')){
                $("#Mondayt16").append(s)
            }

        }else if(s.hasClass('Tuesday')){
            if(s.hasClass('t09')){
                $("#Tuesdayt09").append(s)
            }else if(s.hasClass('t11')){
                $("#Tuesdayt11").append(s)
            }else if(s.hasClass('t14')){
                $("#Tuesdayt14").append(s)
            }else if(s.hasClass('t16')){
                $("#Tuesdayt16").append(s)
            }

        }else if(s.hasClass('Wednesday')){
            if(s.hasClass('t09')){
                $("#Wednesdayt09").append(s)
            }else if(s.hasClass('t11')){
                $("#Wednesdayt11").append(s)
            }else if(s.hasClass('t14')){
                $("#Wednesdayt14").append(s)
            }else if(s.hasClass('t16')){
                $("#Wednesdayt16").append(s)
            }

        }else if(s.hasClass('Thursday')){
            if(s.hasClass('t09')){
                $("#Thursdayt09").append(s)
            }else if(s.hasClass('t11')){
                $("#Thursdayt11").append(s)
            }else if(s.hasClass('t14')){
                $("#Thursdayt14").append(s)
            }else if(s.hasClass('t16')){
                $("#Thursdayt16").append(s)
            }

        }
        
    }



    function get_selected_paper_html(id){
        if(entities[id] == null)
            return ''

        var raw_html = '<h2>' + entities[id].title + '</h2>'
        raw_html += '<p><dtrong>'
        for(var author in entities[id].authors){
            if(entities[id].authors[author] != null){
                raw_html += entities[id].authors[author].givenName + ' ' + entities[id].authors[author].familyName + '&nbsp;&nbsp;&nbsp;&nbsp;'
            }
        }
        raw_html += '</p>'
        raw_html += '<hr />'
        raw_html += '<p>' + entities[id].abstract + '</p>'
        raw_html += '<p class="gray">' + entities[id].keywords + '</p>'
        return raw_html
    }


    
    function load_paper(paper_id){
        var selected_paper_html = get_selected_paper_html(paper_id)
        $('#selected_paper').html(selected_paper_html)
        $("#similar_papers").html('')
        $.post('recs', {'papers': JSON.stringify([paper_id])}, 
        function(res){              
            for(var i = 0; i< res.length; i++){
                var p_id = res[i].id
                var raw_html = get_paper_html(res[i].id)
                if(raw_html!=null){
                    var row = $(raw_html)
                    $("#similar_papers").append(row);
                    
                }
            }
            $.mobile.changePage('#paper');
            $("#similar_papers").trigger('create');
            $("#similar_papers").listview('refresh')
            highlight();
        });

    }


    function load_session(id){
        $("#session_papers").html('')
        for(var paper_id in sessions[id].submissions){
            var raw_html = get_paper_html(paper_id);
            if(raw_html!=null){
                var row = $(raw_html)
                $("#session_papers").append(row);                
            }
        } 
        var selected_session_html = ''

        selected_session_html += '<h3>'+sessions[id].s_title+'</h3>'
        selected_session_html += '<p class="gray"><strong>Room: ' + sessions[id].room + ', Venue: ' + sessions[id].venue + '</strong></p>'
        $('#selected_session').html(selected_session_html)
        $.mobile.changePage('#session');

        $("#session_papers").trigger('create');
        $("#session_papers").listview('refresh')
        highlight();


    }


    function highlight(){
        $('.p_star').each(function(){
            if($(this).hasClass('p_active'))
                $(this).parents("li:first").addClass('highlight')
            else
                $(this).parents("li:first").removeClass('highlight')
        })
        
    }


    function handle_star(event){ 
        var obj = $(event.target)
        var paper_id = obj.attr("p_id")
        if(obj.hasClass('p_active')){
            $.post('/like/unstar', {'papers': JSON.stringify([paper_id])}, function(res) {
              if(res.res[paper_id] == 'unstar'){
                delete starred[obj.attr('p_id')]
                reset_likes(starred)
                recommended = res.recs
                reset_recs(recommended)
                $('.'+obj.attr('p_id')).each(function(){
                    $(this).find('.p_star').parent().find('.ui-btn-inner').html('Star')
                    $(this).find('.p_star').val('Unstar')
                    $(this).find('.p_star').removeClass('p_active')
                })
                highlight()
              }
            });
        }else{
            $.post('/like/star', {'papers': JSON.stringify([paper_id])}, function(res) {
              if(res.res[paper_id] == 'star'){
                starred[obj.attr('p_id')] = true
                reset_likes(starred)
                recommended = res.recs
                reset_recs(recommended)
                $('.'+obj.attr('p_id')).each(function(){
                    $(this).find('.p_star').parent().find('.ui-btn-inner').html('Unstar')
                    $(this).find('.p_star').val('Star')
                    $(this).find('.p_star').addClass('p_active')
                })
                highlight()
                
              }
            });

        }
    }
       


    function populate_papers(_entities){ 
        $("#all_papers").html("")        
        for(var e in _entities){
            var raw_html = get_paper_html(e)
            if(raw_html != null){
                var row = $(raw_html)
                $("#all_papers").append(row)
            }
        }   
    }


    function populate_recs(_recs){ 
        $("#recs").html("")     
        for(var r in _recs){
            var raw_html = get_paper_html(recommended[r].id)
            if(raw_html != null){
                var row = $(raw_html)
                $("#recs").append(row)
            }
        }   
    }



    function populate_likes(_likes){  
        $("#likes").html("")     
        for(var l in _likes){
            var raw_html = get_paper_html(l)
            if(raw_html != null){
                var row = $(raw_html)
                $("#likes").append(row)
            }
        }   
    }
    

    function populate_sessions(_sessions){
        $(".sessions").html("") 
        for(var s in _sessions){
            var raw_html = get_session_html(s)
            var row = $(raw_html)
            place_session(row)
        }
    }


    function reset_likes(_likes){
        console.log('reset_likes')
        populate_likes(_likes)
        $("#likes").trigger('create');
        $("#likes").listview('refresh')
    }

    function reset_recs(_recs){
        console.log('reset_recs')
        populate_recs(_recs)
        $("#recs").trigger('create');
        $("#recs").listview('refresh')
    }

    function reset_papers(_entities){
        console.log('reset_papers')
        populate_papers(_entities)
        $("#all_papers").trigger('create');
        $("#all_papers").listview('refresh')
    }

    function reset_sessions(_sessions){
        console.log('reset_sessions')
        populate_sessions(_sessions)
        $(".session").trigger('create');
        $(".session").listview('refresh')
    }




    
    
    $(document).bind("mobileinit", function(){
       $.mobile.defaultTransition = 'none'
    });

    


    $("#home").live('pageinit', function (e) {       
        console.log('home')
        reset_likes(starred);
        reset_recs(recommended); 
        highlight();
    });


    $("#schedule").live('pageinit', function (e) {  
        console.log('schedule') 
        reset_sessions(sessions);      
        highlight();
    });


    $("#papers").live('pageinit', function (e) {
        console.log('papers')
        reset_papers(entities);
        highlight();            
    });


</script>



<div data-role="page" class="ui-responsive-panel" id="home">
    <div data-role="header" data-position="fixed">
    <div data-role="navbar">
            <ul>
                <li><a href="#home" data-icon="home" class="ui-btn-active ui-state-persist">My CHI</a></li>
                <li><a href="#schedule" data-icon="info">Program Schedule</a></li>
                <li><a href="#papers" data-icon="grid">All Papers</a></li>
            </ul>
    </div><!-- /navbar -->
    </div><!-- /header -->

    <div data-role="content"> 

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Starred Papers</h4>       
    <ul id="likes" data-role="listview"> 
    </ul>
    </div>


    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Recommended Papers</h4>       
    <ul id="recs" data-role="listview"> 
    </ul>
    </div>


   
    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Sessions which have starred papers</h4>
    <ul id="sessions_starred" data-role="listview" class="session"> 
    </ul>
    </div>


    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Sessions which have recommended papers</h4>
    <ul id="sessions_recommended" data-role="listview" class="session"> 
    </ul>
    </div>    

    </div><!-- /content -->

</div><!-- /home -->


<div data-role="page" class="ui-responsive-panel" id="papers">

    <div data-role="header" data-position="fixed">
    <div data-role="navbar">
            <ul>
                <li><a href="#home" data-icon="home">My CHI</a></li>
                <li><a href="#schedule" data-icon="info">Program Schedule</a></li>
                <li><a href="#papers" data-icon="grid" class="ui-btn-active ui-state-persist">All Papers</a></li>
            </ul>
    </div><!-- /navbar -->
    </div><!-- /header -->

    <div data-role="content"> 

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>All Papers</h4>       
    <ul id="all_papers" data-role="listview" data-filter="true" data-filter-placeholder="Search for authors or other keywords">
    </ul>
    </div>

    </div><!-- /content -->

</div><!-- /home -->



<div data-role="page" class="ui-responsive-panel" id="schedule">
    <div data-role="header" data-position="fixed">
    <div data-role="navbar">
            <ul>
                <li><a href="#home" data-icon="home">My CHI</a></li>
                <li><a href="#schedule" data-icon="info" class="ui-btn-active ui-state-persist">Program Schedule</a></li>
                <li><a href="#papers" data-icon="grid" >All Papers</a></li>
            </ul>
    </div><!-- /navbar -->
    </div><!-- /header -->

    
    <div data-role="content">     
    <!--
    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Monday, 09:00-10:20</h4>
    <ul id="Mondayt09" data-role="listview" class="session"> 
    </ul>
    </div>
    -->

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Monday, 11:00-12:20</h4>
    <ul id="Mondayt11" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Monday, 14:00-15:20</h4>
    <ul id="Mondayt14" data-role="listview" class="session"> 
    </ul>
    </div>


    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Monday, 16:00-17:20</h4>
    <ul id="Mondayt16" data-role="listview" class="session"> 
    </ul>
    </div>







    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Tuesday, 09:00-10:20</h4>
    <ul id="Tuesdayt09" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Tuesday, 11:00-12:20</h4>
    <ul id="Tuesdayt11" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Tuesday, 14:00-15:20</h4>
    <ul id="Tuesdayt14" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Tuesday, 16:00-17:20</h4>
    <ul id="Tuesdayt16" data-role="listview" class="session"> 
    </ul>
    </div>






    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Wednesday, 09:00-10:20</h4>
    <ul id="Wednesdayt09" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Wednesday, 11:00-12:20</h4>
    <ul id="Wednesdayt11" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Wednesday, 14:00-15:20</h4>
    <ul id="Wednesdayt14" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Wednesday, 16:00-17:20</h4>
    <ul id="Wednesdayt16" data-role="listview" class="session"> 
    </ul>
    </div>






    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Thursday, 09:00-10:20</h4>
    <ul id="Thursdayt09" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Thursday, 11:00-12:20</h4>
    <ul id="Thursdayt11" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Thursday, 14:00-15:20</h4>
    <ul id="Thursdayt14" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Thursday, 16:00-17:20</h4>
    <ul id="Thursdayt16" data-role="listview" class="session"> 
    </ul>
    </div>
    
    

    </div><!-- /content -->

</div><!-- /schedule -->



<div data-role="page" class="ui-responsive-panel" id="paper" data-add-back-btn="true">  
    <div data-role="header" data-position="fixed">
        <h1>Discover Related Papers</h1>
    </div>
    
    <div data-role="content"> 
    <div id="selected_paper">
    </div>      
    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Papers similar to this paper</h4>       
    <ul id="similar_papers" data-role="listview"> 
    </ul>
    </div>
        

    </div><!-- /content -->

</div><!-- /related_papers -->


<div data-role="page" class="ui-responsive-panel" id="session" data-add-back-btn="true">  
    <div data-role="header" data-position="fixed">
        <h1>Session</h1>
    </div>
    
    <div data-role="content"> 
    <div id="selected_session">
    </div>      
    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Papers in this session</h4>       
    <ul id="session_papers" data-role="listview"> 
    </ul>
    </div>
        

    </div><!-- /content -->

</div><!-- /session_papers -->


</body>
</html>
