{% extends "layout.html" %}
{% block html %}
<!--
<html manifest="/static/conf/cache.manifest">
-->
<html>
{% endblock %}
{% block headlink-left %}
<span id="headlink-left">
    <a id="logo" href="/">confer</a>
</span>
{% endblock %}
{% block links %}
<a class="button" href="/">Home</a>
{% endblock %}
{% block static %}
{% endblock %}
{% block content %} 
<style>
#headlink-left{
}
</style>
<div id="home" class="form">
<h3> 404 -- Page Not Found </h3>
<hr />
<div id="msg">
 Looks like the page you were expecting to see doesn't exist. 
</div>

</div>
{% endblock %}