{% extends "layout.html" %}
{% block links %}
<span id="logged_in_name">{{login_name}}</span> &nbsp;
<a class="button mobile-nav" href="#">Menu</a>
<a class="button navitem nav_papers" href="/{{conf}}/papers">My Papers</a>
<a class="button navitem nav_schedule" href="/{{conf}}/schedule">My Schedule</a>
<a class="button navitem nav_meetups" href="/{{conf}}/meetups">My Meetups</a>

{% if login_id %}
<a class="button navitem" href="/logout">Log Out</a>
{% else %}
<a class="button navitem" href="/login?redirect_url=/{{conf}}/papers">Log In</a>
{% endif %}
{% endblock %}
{% block content %}
 <form class="form-container" method="POST" action="/create_conference" enctype='multipart/form-data'>
        <h3 style="padding-bottom:0.5em;">Make a new conference</h3>
        {% csrf_token %}
        <input type="hidden" name="conference_name" value="{{conf_name}}" />
        <div id="error">
                {% for error in errors %}<span class="error">{% autoescape off %}{{error}}{% endautoescape %}</span><br />
        {% endfor %}
        <br />
    </div>
        <label for="conference_name">Conference Name</label><br />
        <input type="text" name="conference_name" placeholder="Name of your conference"><br /><br />
	<label for="conference_title">Conference Title</label><br />
        <input type="text" name="conference_title" placeholder="Title of your conference"><br /><br />
        <label for="conference_start_date">Conference Start Date</label><br />
	<input type="text" class="date" name="conference_start_date" placeholder="2014-06-08"><br /><br />
	<label for="conference_end_date">Conference End Date</label><br />
        <input type="text" class="date" name="conference_end_date" placeholder="2014-06-15"><br /><br />
	<label for="conference_location">Conference Location</label><br />
	<input type="text" name="conference_location" placeholder="San Francisco, California"><br /><br />
	<label for="conference_description">Conference Blurb</label><br />
        <textarea type="textarea" style="width:100%; height:200px;padding-top:12px; padding-left:5px; padding-right:5px; font-size:14px; line-height:20px" name="conference_description" placeholder="Give a description of your conference in a few sentences."></textarea>
	<input class="button" type="submit" value="Create Conference"/>
        </form>
 <script type="text/javascript">
 $(document).ready(function() {
   $(".date").datepicker({ dateFormat: 'yy-mm-dd' });
 });
 </script>

{% endblock %}
