{% extends "layout.html" %}
{% block links %}
<span id="logged_in_name">{{login_name}}</span> &nbsp;
<a class="button mobile-nav" href="#">Menu</a>
<a class="button navitem nav_papers" href="/{{conf}}/papers">My Papers</a>
<a class="button navitem nav_schedule" href="/{{conf}}/schedule">My Schedule</a>
<a class="button navitem nav_meetups" href="/{{conf}}/meetups">My Meetups</a>

{% if login_id %}
<a class="button navitem" href="/logout">Log Out</a>
{% else %}
<a class="button navitem" href="/login?redirect_url=/{{conf}}/papers">Log In</a>
{% endif %}
{% endblock %}
{% block content %}
<form class="form-container" method="POST" action="/{{conf}}/update_conference" enctype='multipart/form-data'>
<h3 style="padding-bottom:0.5em;">Update your conference data by uploading JSON files</h3>
{% csrf_token %}
<input type="hidden" name="conference_name" value="{{conf_name}}" />
<div id="error">
    {% for error in errors %}<span class="error">{% autoescape off %}{{error}}{% endautoescape %}</span><br />
{% endfor %}
<br />
</div>
<label for="papers_json" style="line-height:21px;">Papers File (papers.json)</label><br />
<input type="file" style="padding-top:7px;" name="papers_json" placeholder="upload papers.json"> <br /><br />
<label for="sessions_json" style="line-height:21px;">Sessions File (sessions.json)</label><br />
<input type="file" style="padding-top:7px;" name="sessions_json" placeholder="upload sessions.json"> <br /><br />
<label for="schedule_json" style="line-height:21px;">Schedule File (schedule.json)</label><br />
<input type="file" style="padding-top:7px;" name="schedule_json" placeholder="upload schedule.json"> <br /><br /><br />
<input class="button" type="submit" value="Update Conference"/>

</form>

{% endblock %}