{% extends "login-layout.html" %}
{% block links %}
<span id="logged_in_name">{{login_name}}</span> &nbsp;
{% if login_id %}
<a class="button" href="/logout">Log Out</a>
{% else %}
<a class="button" href="/login">Log In</a>
{% endif %}
{% endblock %}
{% block content %}
<script type="text/javascript">
</script>
<form method="POST" action="/developer/allow_access">
	{% csrf_token %}
	<input type="hidden" name="redirect_url" value="{{redirect_url}}" />
	<h3>Access to {{app_name}}</h3>
	<hr />
	<div id="msg">
	<span class="bold">{{app_name}}</span> wants to access your confer data. You can allow or deny the access by selecting the corresponding option.
	</div>
	
	<div id="error">
		{% for error in errors %}<span class="error">{% autoescape off %}{{error}}{% endautoescape %}</span><br />
        {% endfor %}
        <br />
    </div>
	<input type="hidden" name="user_email" id="user_email" value="{{user_email}}" />
	<input type="hidden" name="app_id" id="app_id" value="{{app_id}}" />
	<label for="access_val">Access: </label>
	<input type="radio" name="access_val" value="allow"> Allow </input>
	<input type="radio" name="access_val" value="deny"> Deny </input> <br /><br />
	<input type="submit" class="button" value="Save" />
</form>
{% endblock %}