{% extends "login-layout.html" %}
{% block links %}
<span id="logged_in_name">{{login_name}}</span> &nbsp;
{% if login_id %}
<a class="button" href="/logout">Log Out</a>
{% else %}
<a class="button" href="/login">Log In</a>
{% endif %}
{% endblock %}
{% block content %}
<!-- Confer Team -->
<div id="confer_credits_container">
<h3>Third-party tools:</h3>
<ol>
<li>Apache Webserver -- <a class="blue" href="http://httpd.apache.org/">http://httpd.apache.org/</a></li>
<li>Apache Lucene -- <a class="blue" href="http://lucene.apache.org/">http://lucene.apache.org/</a></li>
<li>The Lenskit Recommender Framework -- <a class="blue" href="http://lenskit.grouplens.org/">http://lenskit.grouplens.org/</a></li>
<li></li>
<li></li>
</ol>
  
</div>  <!-- confer team -->
  

{% endblock %}