{% extends "layout.html" %}
{% block html %}
<html manifest="/static/cache.manifest">
{% endblock %}
{% block static %}
{% endblock %}
{% block headlink-left %}
<span id="headlink-left">
    <a id="logo" href="/"></a>
</span>
{% endblock %}
{% block links %}
{% endblock %}

{% block content %} 
<style>
#headlink-left{
  position:absolute;
  /*top: 0.7em;*/
  top:0.9em;
  left:0;
  color: #F6F6F6;
  background-image: url({% block logo %}/static/img/logo.png {% endblock %});
  background-size: 11em 2.5em;
  background-repeat: no-repeat;
}
</style>

<div class="blurb">
    <br />
    Confer helps you build a personal schedule for conference you are attending. It helps you decide where to spend your precious time by providing social recommendations based on your interests.
    <br />
    <br />
</div>

<div id="home">
    <h3 class="collapsible-title collapsible">Recently Added Conferences</h3>
	<div id="conf_container">
		<table id="conferences" class="conference-container">
            {% for conf in conferences %}
            <tr class="clickable">
                <td class="metadata">
                    <a href="/{{conf.unique_name}}/">
                    <span class="cover-icon link" style="background-image:url(/static/conf/{{conf.unique_name}}/logo/cover.png);"></span>
                    </a>
                </td>
                <td class="content">
                <ul>
                    <li><h3><span class="link"><a href="/{{conf.unique_name}}/">{{conf.title}}</a></span></h3></li>
                    <li> <span class="info-box">{{conf.start_date}} - {{conf.end_date}}</span> <span class="info-box">{{conf.location}}</span></li>
                    <li class="abstract">{{conf.blurb}}</li>
                </ul>
                <br/>
                <a href="/{{conf.unique_name}}/" class="conf-button">Browse</a>
                </td>
            </tr>
            {% endfor %}
		</table>
	</div>
<br />
<br />
</div>
{% endblock %}
{% block javascript %} 

<script type="text/javascript">
$(document).ready(function(){
  $("#logged_in_name").html(localStorage.getItem('login_name'))
    bind_events()        
});
</script>
<script type="text/javascript" src="/static/javascript/confer.js"></script>
{% endblock %}