{% extends "login-layout.html" %}
{% block links %}
<a class="button" href="/register">Create a New Account</a>
{% endblock %}
{% block content %}
<script type="text/javascript">
localStorage.removeItem('login_id')
localStorage.removeItem('login_name')
localStorage.removeItem('recommended')
localStorage.removeItem('starred')
localStorage.removeItem('user_recs')
</script>
<form method="POST" action="/login">
	{% csrf_token %}
	<input type="hidden" name="redirect_url" value="{{redirect_url}}" />
	<h3>Confer</h3>
	<p class="teaser">
	Confer helps you build a personal schedule for conference you are attending. It helps you decide where to spend your precious time by providing social recommendations based on your interests.
	</p>
	<hr />
	<label for="username">Email</label><br />
	<input type="text" name="login_email" id="login_email" placeholder="Your email address"/><br /><br />
	<label for="password">Password</label><br />
	<input type="password" name="login_password" id="login_password" placeholder="Your password"/><br /><br />
	<input type="submit" value="Log In" />
</form>
{% endblock %}
