{% extends "layout.html" %}
{% block links %}
<span id="logged_in_name"></span> &nbsp;
<a class="button mobile-nav" href="#">Menu</a>
<a class="button navitem" href="/">Home</a>
<a class="button navitem" href="/{{conf}}/papers">My Papers</a>
<a class="button navitem" href="/{{conf}}/schedule">My Schedule</a>
<a class="button active navitem" href="/{{conf}}/meetups">My Meetups</a>
<a class="button navitem" href="/logout">Log Out</a>
{% endblock %}
{% block content %}  
<div class="blurb">
The Meetup feature allows you to discover people with similar interests as yours. If you do not want to appear in other people's meetups, you can turn off this feature. <br /> <br />For your account meetups feature is <span class="bold">{% if meetups_enabled %}enebled{% else %}disabled{% endif %}</span>. <a class="blue bold" href="/settings">Click Here</a> to manage your Meetups settings.
</div> 
<div class="goto-link">
<a class="button" href="/{{conf}}/papers">Go to My Papers</a>
<a class="button" href="/{{conf}}/schedule">Go to My Schedule</a>
</div>  

{% if meetups_enabled %}
<!-- Similar People -->
<div id="simiar_people_page">
  <h3 class="collapsible-title collapsible" id="similar_people_toggle" data="similar_people_container" value=""><span class="arrow arrow-down"></span> People who have similar interests as you:</h3>

  <div id="similar_people_container">
    <table id="similar_people" class="paper-container"> 
      {% for p in similar_people %}
      <tr class="clickable">
        <td class="metadata">
        </td>
        <td class="content">
          <ul>
            <li><h3><a href="mailto:{{p.email}}">{{p.name}}</a></h3></li>
            <li><span class="paper-subtype">
              You and {{p.name}} have {{p.common_likes}} papers in common.</li>
              </span>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>  <!-- similar people -->
{% endif %}
{% endblock %}

{% block javascript %} 

<script type="text/javascript">
$(document).ready(function(){
  $("#logged_in_name").html(localStorage.getItem('login_name'))
    bind_events()
    log('similar_people')     
});
</script>
<script type="text/javascript" src="/static/javascript/confer.js"></script>
{% endblock %}