{% extends "layout.html" %}
{% block links %}
<span id="logged_in_name">{{login_name}}</span> &nbsp;
<a class="button mobile-nav" href="#">Menu</a>
<a class="button navitem nav_papers" href="/{{conf}}/papers">My Papers</a>
<a class="button navitem nav_schedule" href="/{{conf}}/schedule">My Schedule</a>
<a class="button active navitem nav_meetups" href="/{{conf}}/meetups">My Meetups</a>
{% if login_id %}
<a class="button navitem" href="/logout">Log Out</a>
{% else %}
<a class="button navitem" href="/login?redirect_url=/{{conf}}">Log In</a>
{% endif %}
{% endblock %}
{% block content %}  
<div class="blurb">
The Meetups feature allows you to discover people with similar interests as yours. If you do not want to appear in other people's meetups, you can turn off this feature. <br /> <br />For your account, the Meetups feature is <span class="bold">{% if meetups_enabled %}enabled{% else %}disabled{% endif %}</span>. <a class="blue bold" href="/settings?redirect_url=/{{conf}}/meetups">Click Here</a> to manage your Meetups settings.
</div> 
<div class="goto-link">
<a class="button nav_papers" href="/{{conf}}/papers">Go to My Papers</a>
<a class="button nav_schedule" href="/{{conf}}/schedule">Go to My Schedule</a>
</div>  

{% if meetups_enabled %}
<!-- Favorite List -->
<h3 class="collapsible-title collapsible" id="people_you_favorited_toggle" data="people_you_favorited_container"><span class="arrow arrow-down"></span> People you have favorited</h3>
<div id="people_you_favorited_container">
  <table id="people_you_favorited" class="paper-container">
  </table>
</div>

<br />
<br />
<!-- People Favorited -->
<h3 class="collapsible-title collapsible" id="people_favorited_you_toggle" data="people_favorited_you_container"><span class="arrow arrow-down"></span> People who have favorited you</h3>
<div id="people_favorited_you_container">
  <table id="people_favorited_you" class="paper-container">   
  </table>
</div>

<br />
<br />
<!-- People Recommended -->
<h3 class="collapsible-title collapsible" id="similar_people_toggle" data="similar_people_container"><span class="arrow arrow-down"></span> People who you may like to meet</h3>
<div id="similar_people_container">
  <table id="similar_people" class="paper-container">
  </table>
</div>
<script type="text/javascript">
var similar_people = {{similar_people|safe}}
var people_favorited_you = {{people_favorited_you|safe}}
var people_you_favorited = {{people_you_favorited|safe}}

</script>
{% endif %}
{% endblock %}

{% block javascript %} 
<script type="text/javascript">
$(document).ready(function(){
  $("#logged_in_name").html(localStorage.getItem('login_name'))
  populate_people_you_favorited()
  populate_people_favorited_you()
  populate_similar_people()
  highlight_favorite()
  bind_events()
  log('similar_people')     
});
</script>
<script type="text/javascript" src="/static/javascript/confer.js"></script>
{% endblock %}