{% extends "layout.html" %}
{% block links %}
<span id="logged_in_name">{{login_name}}</span> &nbsp;
<a class="button mobile-nav" href="#">Menu</a>
<a class="button navitem nav_papers" href="/{{conf}}/papers">My Papers</a>
<a class="button navitem nav_schedule" href="/{{conf}}/schedule">My Schedule</a>
<a class="button active navitem nav_meetups" href="/{{conf}}/meetups">My Meetups</a>
{% if login_id %}
<a class="button navitem" href="/logout">Log Out</a>
{% else %}
<a class="button navitem" href="/login?redirect_url=/{{conf}}">Log In</a>
{% endif %}
{% endblock %}
{% block content %}  
<div class="blurb">
The Meetups feature allows you to discover people with similar interests as yours. If you do not want to appear in other people's meetups, you can turn off this feature. <br /> <br />For your account, the Meetups feature is <span class="bold">{% if meetups_enabled %}enabled{% else %}disabled{% endif %}</span>. <a class="blue bold" href="/settings?redirect_url=/{{conf}}/meetups">Click Here</a> to manage your Meetups settings.
</div> 
<div class="goto-link">
<a class="button nav_papers" href="/{{conf}}/papers">Go to My Papers</a>
<a class="button nav_schedule" href="/{{conf}}/schedule">Go to My Schedule</a>
</div>  

{% if meetups_enabled %}
<!-- Similar People -->
<div id="simiar_people_page">
  {% if similar_people|length %}
  <h3 class="collapsible-title" id="similar_people_toggle"> People who have similar interests as you</h3>
  <div id="similar_people_container">
    <table id="similar_people" class="paper-container"> 
      {% for p in similar_people %}
      <tr class="clickable">
        <td class="content">
          <ul>
            <li><h3><a href="mailto:?to={{p.email}}&amp;subject=Hi from {{login_name}}!&amp;body=Hi {{p.name}},\n\nConfer thinks that we two have similar research interests. Would you be interested in meeting?" target="_blank">{{p.name}}</a></h3></li>
            <li><span class="paper-subtype" style="text-align: left !important;">
              You and {{p.name}} have {{p.common_likes}} papers in common. <a class="blue" href="mailto:?to={{p.email}}&amp;subject=Hi from {{login_name}},
              &amp;body=Hi {{p.name}},\n\nConfer thinks that we two have similar research interests. Would you be interested in meeting?" target="_blank">Send hello</a> to {{p.name}}!</li>
              </span>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <div class="blurb">
  <span class="error">We tried hard to find people having similar interests as you but we couldn't find any -- this may be because you haven't starred enough papers or there aren't enough other people in the system yet.</span>
  </div>
  {% endif %}

</div>  <!-- similar people -->
{% endif %}
{% endblock %}

{% block javascript %} 
<script type="text/javascript">
$(document).ready(function(){
  $("#logged_in_name").html(localStorage.getItem('login_name'))
    bind_events()
    log('similar_people')     
});
</script>
<script type="text/javascript" src="/static/javascript/confer.js"></script>
{% endblock %}