{% extends "layout.html" %}
{% block content %}   
<div class="goto-link">
<a class="button" href="/home">Go to My Papers</a>
<a class="button" href="/schedule">Go to My Schedule</a>
</div>	

<!-- Selected Paper -->
<div id="selected_paper">
  <!--<h3><span class="gray">Selected Paper</span></h3>-->
	<table class="form">
	</table>
	<br />
	<h3 class="collapsible-title collapsible" id="similar_papers_toggle" data="similar_papers_container" value=""><span class="arrow arrow-down"></span> People who liked this paper also liked:</h3>
	<div id="similar_papers_container">
	<table id="similar_papers" class="paper-container">		
	</table>
	</div>

</div>  <!-- selected paper -->


    <div class="credit">
      Problems or comments? <a href="mailto:mychi@csail.mit.edu">mychi@csail.mit.edu</a><br/>
      Brought to you by <a href="http://people.csail.mit.edu/anantb/" target="_blank">Anant</a>, <a href="http://juhokim.com/" target="_blank">Juho</a>, <a href="http://eecs.northwestern.edu/~hq" target="_blank">Haoqi</a>, <a href="http://people.csail.mit.edu/karger/" target="_blank">David</a>, and <a href="http://projectcobi.com/" target="_blank">the Cobi team</a>
    </div>
{% endblock %}

{% block javascript %} 

<script type="text/javascript">
$(document).ready(function(){
	$("#logged_in_name").html(localStorage.getItem('login_name'))
    load_paper()
    bind_events()
    log('selected_paper')
        
});
</script>
<script type="text/javascript" src="/static/javascript/desktop.js"></script>
{% endblock %}
