{% extends "layout.html" %}
{% block links %}
<span id="logged_in_name">{{login_name}}</span> &nbsp;
<a class="button mobile-nav" href="#">Menu</a>
<a class="button navitem nav_papers" href="/{{conf}}/papers">My Papers</a>
<a class="button navitem nav_schedule" href="/{{conf}}/schedule">My Schedule</a>
<a class="button navitem nav_meetups" href="/{{conf}}/meetups">My Meetups</a>
{% if login_id %}
<a class="button navitem" href="/logout">Log Out</a>
{% else %}
<a class="button navitem" href="/login?redirect_url=/{{conf}}/papers">Log In</a>
{% endif %}
{% endblock %}
{% block content %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '<confer>'; // Required - Replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<div class="goto-link">
<br /> 
<a class="button nav_papers" href="/{{conf}}/papers">Go to My Papers</a>
<a class="button nav_schedule" href="/{{conf}}/schedule">Go to My Schedule</a>
</div>	

<!-- Selected Paper -->
<div id="selected_paper">
  <!--<h3><span class="gray">Selected Paper</span></h3>-->
	<table class="form">
	</table>
	<br />
	<div id="paper_comments"></div>
	<h3 class="collapsible-title collapsible" id="similar_papers_toggle" data="similar_papers_container" value=""><span class="arrow arrow-down"></span> Papers similar to this paper:</h3>
	<div id="similar_papers_container">
	<table id="similar_papers" class="paper-container">		
	</table>
	</div>

</div>  <!-- selected paper -->

{% endblock %}

{% block javascript %} 

<script type="text/javascript">
$(document).ready(function(){
    load_paper()
    bind_events()
    log('selected_paper')
        
});
</script>
<script type="text/javascript" src="/static/javascript/confer.js"></script>
{% endblock %}
