{% extends "login-layout.html" %}
{% block links %}
<a class="button" href="/login?redirect_url={{redirect_url}}">Log In</a>
{% endblock %}
{% block content %}
<form method="POST" action="/register" autocomplete="off">
	{% csrf_token %}
	<input type="hidden" name="redirect_url" value="{{redirect_url}}" />
	<h3>Create a new account</h3>
	<hr />
	<div id="error">
		{% for error in errors %}<span class="error">{% autoescape off %}{{error}}{% endautoescape %}</span><br /> 
        {% endfor %}
        <br />
    </div>
	<label for="email">Email Address</label><br />
	<input type="text" name="email" id="email" placeholder="Your email address" {% if values.email %}value="{{values.email}}"{% endif %}/><br /><br />
	<label for="f_name">First Name</label><br />
	<input type="text" name="f_name" id="f_name" placeholder="Your first name" {% if values.f_name %}value="{{values.f_name}}"{% endif %}/><br /><br />
	<label for="l_name">Last Name</label><br />
	<input type="text" name="l_name" id="l_name" placeholder="Your last name" {% if values.l_name %}value="{{values.l_name}}"{% endif %}/><br /><br />
	<label for="password">Password</label><br />
	<input type="password" name="password" id="password" placeholder="Create a password" {% if values.password %}value="{{values.password}}"{% endif %}/><br /><br />
	<input type="submit" class="button" value="Sign Up" />
	<br />
	<br />
	<div>
		Already have an account? <a class="blue bold" href="/login?redirect_url={{redirect_url}}{% if values.email %}&amp;login_email={{values.email|urlencode}}{% endif %}">Log in</a>
	</div>
</form>
{% endblock %}
