{% extends "layout.html" %}
{% block links %}
<span id="logged_in_name"></span> &nbsp;
<a class="button mobile-nav" href="#">Menu</a>
<a class="button navitem" href="/{{conf}}/papers">My Papers</a>
<a class="button active navitem" href="/{{conf}}/schedule">My Schedule</a>
<a class="button navitem" href="/logout">Log Out</a>
{% endblock %}
{% block content %}   

<div class="blurb">
Tag sessions and papers you want to see and get updated recommendations on the fly. Use your likes, recommendations, and other filtering options to discover your personal schedule.
</div>
<div class="goto-link">
<a class="button" href="/{{conf}}/papers">Go to My Papers</a>
</div>	
<!--  Schedule -->
<div id="schedule">	
<div id="filter_schedule">
<table>
<tr>
<td style="vertical-align:top">
<h4 style="display:inline-block">Sessions</h4>
</td>
<td>

<div id ="p_filter" style="display:inline-block">  

    <a href="#" data="all" class="p_session filter active f_all" type="p_session"/>All</a>
    <a href="#" data="s_starred" class="p_session filter" type="p_session"/>Liked</a> 
    <a href="#" data="s_recommended,.s_starred" class="p_session filter" type="p_session"/>Liked + Recommended</a>  
    <!-- 
    <a href="#" data="s_awardhm" class="p_session filter" type="p_session"/>Awards</a>  
    -->  
</div>
</td>
</tr>
<tr>
<td style="vertical-align:top">
<h4 style="display:inline-block">Day</h4>
</td>
<td>

<div id ="day_filter" style="display:inline-block">  

    <a href="#" data="all" class="day filter active f_all" type="day"/>All</a>
    <a href="#" data="Monday" class="day filter" type="day"/>Monday</a>    
    <a href="#" data="Tuesday" class="day filter" type="day"/>Tuesday</a>      
    <a href="#" data="Wednesday" class="day filter" type="day"/>Wednesday</a>  
    <a href="#" data="Thursday" class="day filter" type="day"/>Thursday</a>
</div>
</td>
</tr>
<tr>
<td style="vertical-align:top">
<h4 style="display:inline-block">Time</h4>
</td>
<td>
<div id ="time_filter" style="display:inline-block">
    
    <a href="#" data="all" class="time filter active f_all" type="time"/>All</a> 
    <a href="#" data="morning" class="time filter" type="time"/>Morning</a>    
    <a href="#" data="afternoon1" class="time filter" type="time"/>Afternoon 1</a>     
    <a href="#" data="afternoon2" class="time filter" type="time"/>Afternoon 2</a>
    <a href="#" data="evening" class="time filter" type="time"/>Evening</a>             
</div>
</td>
</tr>
</table>
</div>
<br />
<br />
<div class="search-container">
  <label id="search_label">Search:</label>
  <input type="text" id="search_session" placeholder="Enter session or paper titles, authors, or keywords" class="search-box"></input>&nbsp;&nbsp;
  <span class="button" id="search_sessions_btn">Search</span>
  <div id="search-results">Showing <span class="count">all</span> sessions</div>
</div>


<div id="program">
</div> <!-- program -->

</div> <!-- schedule -->

{% endblock %}

{% block javascript %} 

<!-- Javascript -->
<script type="text/javascript">
    $(document).ready(function(){
        $("#logged_in_name").html(localStorage.getItem('login_name'))
        populate_sessions()
        setup_filters()
        bind_events()
        log('schedule')
    });
</script>
<script type="text/javascript" src="/static/javascript/desktop.js"></script>
{% endblock %}