{% extends "login-layout.html" %}
{% block links %}
<a class="button" href="/login?redirect_url=/">Login</a>
{% endblock %}
{% block content %}
<div class="blurb">
<br />
Please send your feedback/suggestions to <a class="blue bold" href="mailto://confer@csail.mit.edu">confer@csail.mit.edu</a>. <br /> <br />
</div>
<!-- Confer Team -->
<div id="confer_team_container">
  <h3 class="collapsible-title"> Confer Team</h3>
  <table id="confer_team" class="paper-container"> 
    {% for p in people %}
    <tr class="clickable">
      <td class="content">
        <ul>
          <li><h3><a href="{{p.web}}">{{p.name}}</a></h3></li>
          <li><span class="paper-subtype" style="text-align: left !important;">
            {{p.affiliation}}</li>
            </span>
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>  <!-- confer team -->
  

{% endblock %}