/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/


html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td {

	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}


body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, sans-serif;
	font-size:0.9em;
	height: 100%;
	overflow: auto;
}


/**************************
 * Touch Device Specific
 **************************/
/*
.touch-device .star:hover{
  background-image: none;
}

.touch-device a.filter:hover{
  background-color: #E9E581;
}

.touch-device a:active, .touch-device a:hover, .touch-device .session-title:hover {
  color: #447EAC;
  text-decoration:none; 
}

.touch-device .button:hover{
  color: #2B2B2B;
  background-color: #E9E581; 
}

.touch-device .clickable:hover {
  background-color: #f5f5f5;
}
*/

  .touch-device .default-search-text {
    max-width: 90% !important;
    min-width: 50% !important;
    width: 70% !important;
  /*margin-left: 1.9em !important;*/
	}

  .touch-device #search_papers_btn, #search_sessions_btn {
    display: inline !important;
  }

  .touch-device #search_label {
      display: none !important;
  }

  .blurb {
    background-color: #f6f6f6;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  
  
  .goto-link {
    display: none;
  }

@media only screen and (max-width: 480px) {
  .goto-link{
    display: block;
    margin-bottom: 1.5em;
    margin-top: -0.3em;
    text-align: center;
  }

  .goto-link a{
    /*margin: 0 1em 0 1em;*/
  }
}

/*@media (max-width: 480px) {*/
@media only screen and (max-width: 640px) {
  body {
	  width:100% !important;
    font-size: 0.9em !important;
  }
/*
  #wrap, #page {
    min-width: 0 !important;
  }
*/    
  #page {
    width:100% !important;
  }

  #header {
    font-size: 0.9em !important;
    width:100% !important;
  }

  #content {
    padding: 0 !important;
  }

  #back-top {
    padding: 0 !important;
  }

  #headlink-right .navitem{
    display: none;
    /*
    position:relative;
    display: block !important;
    padding: 1em;
    */
  }

  #headlink-right .mobile-nav.toggle-nav{
    background-color:#E9E581;
  }

  #headlink-right .navitem.toggle-nav{
    position:relative;
    display: block !important;
    padding: 1em;
  }
  /*
  #headlink-right:hover .navitem{
    position:relative;
    display: block !important;
    padding: 1em;
  }
*/
  #headlink-right .mobile-nav {
    display: inline-block !important;
    margin-top: -0.5em;
  }

  

}



ol, ul, li {
	list-style: none;
}

hr{
	background-color: #2B2B2B;
	border: thin #2B2B2B solid;
}


/****************************
 * Modal Loading Display
 ****************************/
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  background-color: rgba(255, 255, 255, .7);
  /*border: 0.2em solid #2B2B2B;*/
  top:        0;
  left:       0;
  height:     100%; 
  width:      100%;
  /*
  background: rgba( 255, 255, 255, .7 ) 
    url(/static/img/spinner.gif) 
    48% 30%
    no-repeat;
  background-size: 5em 5em;
  */
}

.modal .message{
  margin-left: 25%;
  margin-top: 30%;
  border-radius: 0.5em;
  background-color: #E9E581; /*#447EAC;*/
  color: #2B2B2B; /*#F6F6F6;*/
  width: 40%;
  height: 5%;
  text-align: center;
  padding: 2em;
  font-size: 2em;
}

/* When the body has the loading class, we turn
 *    the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our
 *    modal element will be visible */
body.loading .modal, body.notice .alert {
  display: block;
}

.alert{
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        2.8em;
  left:       0;
  height:     10%; 
  width:      100%;
}

.alert .message{
  margin-left: 35%;
  margin-top: 0;
  border-radius: 0.5em;
  border: 0.2em solid #2B2B2B;
  background-color: #E9E581;
  color: #2B2B2B;
  width: 30%;
  /*height: 2.;*/
  text-align: center;
  padding: 1em;
  font-size: 1em;
}

#header, .collapsible-title, .metadata{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

a:link, a:visited {
  color: #000;
  text-decoration:none; 
}

#filter_schedule td{
  line-height: 2em;
  padding: 0.4em 0;
  font-size: 0.9em;
}

#filter_schedule h4 {
  display: inline-block;
}

#filter_schedule .more-filters {
  display: none;
}

#filter_schedule .f_all { 
  width: 5em;
}
/*
#filter_schedule .f_all, #day_filter .day, #time_filter .time {
  width: 6.5em;
}
*/
a.filter{
  display: inline-block;
	color: #2B2B2B !important;
  background-color: #F6F6F6;
  border-radius: 0.3em;
  border: 1px solid #2B2B2B;
  text-decoration:none;
  text-align: center;
  margin: 0.1em 0.7em;
  padding: 0 0.3em;
}

a.filter.aligned {
  /*width: 7em;*/
}

a.filter.aligned-long {
  /*width: 12em;*/
}

a.filter.aligned-short {
  /*width: 3em;*/
}

a.filter.active{
  background-color: #E9E581;
}

.no-touch-device a.filter:hover{
  background-color: #E9E581;
}

.no-touch-device a:active, .no-touch-device a:hover, .no-touch-device .session-title:hover {
  color: #447EAC;
  text-decoration:none; 
}

form{
	margin:0 auto;
	margin-top:2em; 
	padding:1.8em 1.8em 1em 1.8em; 
	vertical-align:top;
	background-color: #D7ECFA;
	max-width:280px;
	width: 100%;
	box-shadow: 1px 0px 10px #666;
}

#selected_paper .form{
	margin:0 auto;
	/*margin-top:2em; */
	padding:2em 2em 2em 0; 
	vertical-align:top;
	background-color: #f0f4f9;
	width:border-box;
}

form label{
	font-weight:bold; 
	color:#666;
}

form input[type="text"], input[type="password"]{
  width: 95%;
}


input[type="text"], input[type="password"], select{
	padding:0.5em;
	border: #2B2B2B solid thin;
	margin: 0.3em 0;
  font-size: 1em;
}

button, input[type="button"], input[type="submit"]{
  font-size: 1em;
  /*
	background-color: #2B2B2B;
	color: #FFF;
	border: #2B2B2B solid thin;
	padding:0.4em 0.7em;
	margin-left: 0;
  */
}

.button{
	background-color: #F6F6F6; /* #00A8CD #00B4ED #85A5CC #69a74e;*/
	/*background: -webkit-linear-gradient(top, #67ae55, #578843);*/
	/*-webkit-box-shadow: inset 0 1px 1px #a4e388;*/
	/*border-color: #3b6e22 #3b6e22 #2c5115;*/
	padding:0.4em 0.7em;
  border-radius: 0.3em;
  border: 1px solid #2B2B2B;
	text-decoration: none;
	color: #2B2B2B;
	cursor: pointer;
}

.no-touch-device .button:hover{
  color: #2B2B2B;
  background-color: #E9E581; /*#00C8ED;*/
}



textarea { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	max-width: 100%;
	height:3.5em;
}




#header {
	margin:0 auto;
	position: fixed;
	top:0;
	height: 2.7em;
	font-size:1em;
	background: #2B2B2B; /*3D7AA6;*/
	margin-bottom: 0.1em;
	color: #F6F6F6;
	border-bottom: 1px solid #2B2B2B;
	width: 100%;
	z-index: 100;
  padding-left:1.5em;
}

#wrap{
	position: relative;
	margin:0 auto;
	padding: 0;
	width: 100%;
	max-width: 1024px;
	/*min-width: 600px;*/
}

.mobile-nav{
  display:none;
}

#headlink-right{
	position:absolute;
	top: 0.7em;
	right: 0.7em;
	color: #F6F6F6;
  margin-right: 1.5em;
}

#headlink-left{
	position:absolute;
	/*top: 0.7em;*/
  top: 0;
	left:0;
	color: #F6F6F6;
  background-image: url(/static/img/logo.png);
  background-size: 5.67em 2.4em;
  background-repeat: no-repeat;
}

#headlink-left a{
  text-decoration: none;
  color: #F6F6F6;
  width: 7em;
  height: 2.7em;
  display: inline-block;
}

#headlink-right a{
	text-decoration: none;
	color: #2B2B2B;
}

#headlink-right a.active{
  background-color: #E9E581; /*#00C8ED;*/
}

#page{
	position: relative;
	margin:0 auto;
	top: 3em;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 1024px;
	/*min-width: 600px; */
	background-color: #fff;
}



#home, #schedule{
	position: relative;
}


#content{
	margin-top: 1.5em;
	margin-bottom: 3.5em;
	padding: 1.5em;
	background-color: #FFF;
}





.paper-keywords{
  color: #737373;
}

.arrow {
  display:inline-block !important;
  width: 1.2em;
  height: 1.2em;
  background-repeat: no-repeat;
  margin-top: 0.3em;
  margin-bottom: 0 !important;
}

.arrow-right {
  background-image:url(/static/img/right.png);
}

.arrow-down {
  background-image:url(/static/img/down.png);
}

.session-title{
}
.session-info{
	color: #737373;
  margin: 0.4em 0 0.7em 0;
}
.session-venue{
  display:inline-block;
  width: 7em;
  /*margin-left: 1em;*/
}
.session-room{
  
}

.paper-title{
}

.paper-authors{
  margin: 0.4em 0 0 0;
  font-weight: bold;
}

.video-url {
  display:inline-block;
  margin-left: 0.2em;
  color: #447EAC !important;
  padding: 0.1em 0.5em;
  text-align: center;
  font-size: 0.8em;
  font-weight: normal;
}

.paper-subtype {
  display:inline-block;
  margin-left: 0.2em;
  margin-right: 0.5em;
  /*border: 1px solid #AAAAAA;
  background-color: #AAAAAA;*/
  color: #737373;
  /*padding: 0.1em 0.5em;*/
  text-align: center;
  font-size: 0.8em;
  font-weight: normal;
}

.paper-session {
  display:inline-block;
  color: #737373;
  font-size: 0.8em;
  font-weight: normal;
}

.paper-code, .session-code{
  /*
  vertical-align: subgktop;
  margin-top: 0.2em;
  padding: 0.2em 0.5em;
  */
  display:inline-block;
  /*margin-right: 0.5em;*/
  border: 1px solid #2B2B2B; /*#AAAAAA;*/
  background-color: #2B2B2B; /*#AAAAAA;*/
  font-weight: bold;
  color: #F6F6F6;
  padding: 0.1em 0.5em;
  text-align: center;
  font-size: 0.8em;
  font-weight: normal;
}

.session-code{
  margin-left: 0.5em;
}

.send_tweet, .send_session_tweet{
  display: inline-block;
  background-image:url(/static/img/w_tw.png);
  background-repeat: no-repeat;
  background-size: 1.9em 1.6em;
  width: 1.9em;
  height: 1.6em;
  margin-bottom: -0.4em;
  cursor: pointer;
}

.send_email, .send_session_email{
  display: inline-block;
  background-image:url(/static/img/w_em2.png);
  background-repeat: no-repeat;
  background-size: 1.9em 1.6em;
  width: 1.9em;
  height: 1.6em;
  margin-bottom: -0.4em;
  cursor: pointer;
}




.paper-cb{
  font-size: 0.9em;
  margin: 0.4em 0 0 0;  
}

.paper-keywords{
  font-size: 0.9em;
  margin: 0.3em 0 0 0;
}
/*************************
 * Selected Papers
 *************************/
.paper-authors {
  margin-top: 0.5em;
}

.paper-authors .author {
  display: block;
}

.paper-authors .author .author-affiliation{
  margin-left: 1.5em;
  font-weight: normal;
  font-size: 0.9em;
  color: #737373;
}

.paper-selected-session {
  margin-top: 0.5em;
}


.gray {
  color: #737373;
}

.blue{
	color: #447EAC;
}

.link{
	text-decoration: none;
}




.default-text {
}

.default-text-active { 
	color: #737373; /*#a1a1a1; */
	font-style: italic;
}


.no-touch-device .default-search-text {
	max-width: 70%;
	min-width: 50%;
	width: 100%;
  /*margin-left: 1.9em !important;*/
}

.default-search-text-active { 
	color: #a1a1a1; 
	font-style: italic;
}

.tab{
	display: none;
}

.no-touch-device #search_label {
  margin-right: 1em;
}

.no-touch-device #search_papers_btn, .no-touch-device #search_sessions_btn {
  display: none !important;
}

#search_papers, #search_session {
  display: inline-block;
  height: 1.8em;
  margin: 0 0 1em 0;
  
}


	
.search-container {
  vertical-align: middle;
	background: #f6f6f6;
	padding: 0.7em;
	font-weight: bold;
}




.text-highlight{
	background-color: #ff2;
}



.col1{
	width:70%;
}

.col2{
	width:25%;
	float:right;
	position: absolute;
	top:1.5em;
	right: 0;
}


.content{
	padding:0.7em;
	padding-bottom: 1em;
}

.metadata{
  /*padding: 0 5px 0 5px !important;*/
	width: 4.5em;
	vertical-align: middle !important;

}



.collapsible-subtitle{
	background: #f0f4f9;
	cursor: pointer;
	border: 1px solid #ccc;
	padding: 0.7em;
	border-bottom: none;

}

.error{
  	color: red;
	
}

.info, .info2{
  	color: green;
	
}



.collapsible-title{
	background:#2B2B2B;
  font-weight:normal;
	/*background:#3D7AA6;*/
	cursor: pointer;
	border: 1px solid #ccc;
	color: #F6F6F6;
	padding: 0.7em;
}





.ui-state-default, .ui-state-active{
	margin:0 auto;
	max-width: 1.5em;
	max-height: 1.5em;
	padding: 0.5em;
}

.ui-state-default{ 
	border: 1px solid #d3d3d3 !important; 
	background: #e6e6e6 repeat-x !important; 
	font-weight: normal !important; 
	color: #555555 !important; 
	cursor: pointer !important;
}



.ui-state-hover{ 
	border: 1px solid #999999 !important;
}






.ui-state-active{
	border: 1px solid #d19405 !important;
	background: #fece2f !important;
	font-weight: bold;
	color: #4c3000 !important;
}




.star-open{
  height: 2.1em;
  width: 2.1em;
  margin-left: 1em;
  background-image:url(/static/img/star_open.png);
  background-size: 2.1em 2.1em;
  background-repeat:no-repeat;
  cursor: pointer;
}

.star-filled{
  height: 2.1em;
  width: 2.1em;
  margin-left: 1em;
  background-image:url(/static/img/star_yellow.png);
  background-size: 2.1em 2.1em;
  background-repeat:no-repeat;
  cursor: pointer;
}

.no-touch-device .star:hover{
  background-image:url(/static/img/star_yellow.png);
}


.ui-icon-star{
	margin:0 auto;
}


.search{
	width:70%;
	height: 2em;
	margin: 0 auto !important;
	margin-bottom: 1em !important;
	display: block;
	padding: 0.4em;
}




.paper-container{
	width:100%;
	border-spacing: 0;
	border-bottom:1px solid #ccc;
	background-color: #fff;
	padding:0;
	margin:0;
}

.paper-container td {
	border-spacing: 0;
	border-bottom:1px solid #ccc;
}

.session-container{
	width:100%;
	border-spacing: 0;
	border-bottom:1px solid #ccc;
	padding:0;
	margin:0;
}


.recommended{
	/*background-color: #f0f4f9 !important;*/
}

.rec-icon, .award-icon, .hm-icon, .community-icon{
  display:none;
}

.own-icon {
  display:inline-block;
  vertical-align: top;
  margin-top: 0.2em;
  margin-right: 0.7em;
  border: 1px solid #0D0C5D;
  background-color: #0D0C5D;
  color: #F6F6F6;
  padding: 0.2em 0.5em;
  /*height: 1.5em;*/
  text-align: center;
  font-size: 0.9em;
}

.communities .community-icon{
  display:inline-block;
  vertical-align: top;
  margin-top: 0.2em;
  margin-right: 0.7em;
  border: 1px solid #AAAAAA;
  background-color: #AAAAAA;
  color: #F6F6F6;
  padding: 0.2em 0.5em;
  /*height: 1.5em;*/
  text-align: center;
  font-size: 0.9em;
}

.paper-icons, .session-icons {
  margin-top: 0.3em;
  max-height: 4em;
}

.recommended .rec-icon{
  display:inline-block;
  vertical-align: top;
  margin-top: 0.2em;
  margin-right: 0.7em;
  background-color: #00A8CD;
  border: 1px solid #00A8CD;
  color: #fff;
  padding: 0.2em 0.5em;
  /*height: 1.5em;*/
  text-align: center;
  font-size: 0.9em;
}

.session.s_award .session-icons .award-icon, .paper.p_award .paper-icons .award-icon{
  display:inline-block;
  margin-right: 0.7em;
  background-image:url(/static/img/best-paper.png);
  background-repeat: no-repeat;
  background-size: 1.8em 1.8em;
  width: 1.8em;
  height: 1.8em;
}

.session.s_hm .session-icons .hm-icon, .paper.p_hm .paper-icons .hm-icon{
  display:inline-block;
  margin-right: 0.7em;
  background-image:url(/static/img/nominee.png);
  background-repeat: no-repeat;
  background-size: 1.8em 1.8em;
  width: 1.8em;
  height: 1.8em;
}


.play-icon{
	display:inline-block;
	background-image:url(/static/img/play.png);
	background-repeat: no-repeat;
	background-size: 1.9em 1.6em;
	width: 1.9em;
	height: 1.6em;
  margin-bottom: -0.4em;

}


.acm-icon{
  display: inline-block;
   margin-right: 0.5em;
  background-image:url(/static/img/acm.png);
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  width: 1.5em;
  height: 1.5em;
  margin-bottom: -0.4em;
  cursor: pointer;
}

/*
.community-icon.design{
  display:inline-block;
  margin-right: 0.7em;
  background-image:url(/static/img/design.png);
  background-repeat: no-repeat;
  background-size: 1.6em 1.6em;
  width: 1.6em;
  height: 1.6em;
}
*/
.session-container .clickable{
	cursor: pointer;
	
}

.odd {
  /*background-color: #f5f5f5;*/
}

.no-touch-device .clickable:hover {
  background-color: #f5f5f5;
}

.highlight{
	/*background-color: #fff7ce !important;*/
}

.clickable{	
	/*background-color: #fff;*/
}






.default-text {
}

.default-text-active { 
	color: #a1a1a1; 
	font-style: italic;
}

#back-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
	/*padding: 1.5em;*/
  clear: both;
  margin: 0;
}

#back-top a {
  /*color: #447EAC;*/
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.collapsible-title span{
  display: inline-block;
  margin-bottom: 0.3em;
}

#refresh_recommendations{
  display: inline-block;
  margin-left: 2em;
  /*float: right;*/
  font-size: small;
}

/************************
 * Schedule View
 ************************/
#search-results {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

div.timeline {
	margin: 0.25em 0em;
	padding: 0em;
	width: 100%;
	height: 0.7em;
	clear: right;
	overflow: hidden;
}



div.timeline div {
	float: left;
	outline: 1px solid #FFF;
	background-color: #DDD;
	border-radius: 0.5em;
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}

div.timeline div.filled_blue {
	background-color: #00A8CD;
}

div.timeline div.filled_yellow {
	background-color: #FFD942 !important;
  /* ff@00 */
}


/************************
 * Login Screen
 ************************/
form .teaser {
  margin: 0.5em;
  line-height: 1.2em;
}

form .description {
  color: #737373;
  font-size: 0.9em;
}

form .credit {
  font-size: 0.8em;
  margin-top: 1.8em;
}

.credit {
  /* width: 100%; */
  text-align: center;
  margin-top: 1.5em;
  padding: 0.5em;
  line-height: 1.5em;
	background-color: #F6F6F6;

}

.credit a:link, .credit a:visited {
  color: #447EAC;
}

.link{
  cursor: pointer;
}

.link:hover{
  color: #447EAC;
}
