<html>
<head>
</head>
<body>
<h1>Paper List Widget</h1>
<p>You can host this file yourself and edit the below template.</p>

<div id="papers">
  <table class="paper-container">	
    <tr data="cscw609" class="clickable paper cscw609 p_hm">
      <td class="metadata">
        <div class="star star-open p_star" data="cscw609" onclick="handle_star(event);"></div>
      </td>
      <td class="content">
        <ul>
          <li class="paper-title">
            <h3>
              <span class="link" onclick="select_paper(&quot;cscw609&quot;)">Paper Title</span>
              -
              <span class="paper-subtype">Paper Type</span>
           </h3>
         </li>
         <li class="paper-authors">Author List</li>
         <li class="paper-icons">
           <span class="award-icon"></span>
           <span class="hm-icon"></span>
           <span class="nominated-icon"></span>
           <span class="rec-icon">recommended</span>
        </li>
        <li class="paper-cb">Description</li>
        <li class="paper-keywords">Keywords</li>
      </ul>
    </td>
  </tr>
	</table>
</div>
</body>
</html>
